{% extends "website/base.html" %}
{% load static %}

{% block content %}

<div class="container mt-12">
    <div class="text-center">
        <p class="text-base font-inter tracking-[5px] text-themeblue opacity-60 font-medium">
            The Blog
        </p>
        <h1 class="text-4xl ts-headings font-semibold tracking-[1px] mt-1">Writings From our team</h1>
        <p class="text-xs font-inter mt-3">The latest industry news , Technologies and
            Resources</p>
    </div>
</div>

<div class="container mt-12">
    <div class="mx-auto space-y-6 my-8 grid responsive-grid-3cols gap-4">
        {% for blog in blogs %}
        {% include "website/components/Blogs.html" %}
        {% endfor %}
    </div>

</div>


<!-- video section  -->
<div class="mx-auto px-4 max-w-5xl mt-20">
    <iframe 
        class="h-full w-full aspect-video rounded-2xl"
        src="https://www.youtube-nocookie.com/embed/r5N11qXT10Y?si=_vJkPTbQdnKmsBGU" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>


{% endblock %}